@font-face {
    font-family: 'IcoMoon-Free';
    src: url('../fonts/IcoMoon-Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'IcoMoon-Free' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up-left:before {
    content: "\ea31";
}
.icon-arrow-up:before {
    content: "\ea32";
}
.icon-arrow-up-right:before {
    content: "\ea33";
}
.icon-arrow-right:before {
    content: "\ea34";
}
.icon-arrow-down-right:before {
    content: "\ea35";
}
.icon-arrow-down:before {
    content: "\ea36";
}
.icon-arrow-down-left:before {
    content: "\ea37";
}
.icon-arrow-left:before {
    content: "\ea38";
}
.icon-arrow-up-left2:before {
    content: "\ea39";
}
.icon-arrow-up2:before {
    content: "\ea3a";
}
.icon-arrow-up-right2:before {
    content: "\ea3b";
}
.icon-arrow-right2:before {
    content: "\ea3c";
}
.icon-arrow-down-right2:before {
    content: "\ea3d";
}
.icon-arrow-down2:before {
    content: "\ea3e";
}
.icon-arrow-down-left2:before {
    content: "\ea3f";
}
.icon-arrow-left2:before {
    content: "\ea40";
}
.icon-cross:before {
    content: "\ea0f";
}